body {
  background-color: #232323;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  color: white;
  text-align: center;
}

.colors {
  margin: 0 auto;
  max-width: 600px;
  margin-top: 20px;
}

.colors > span {
  display: block;
  text-align: center;
  color: rgba(255, 255, 255, .5);
  font-size: 12px;
}

.square {
  width: 30%;
  padding-bottom: 30%;
  float: left;
  margin: 1.6%;
  border-radius: 10%;
  cursor: pointer;
}

.square-wrong {
  background-color: #232323;
  cursor: default;
}

.stripe {
  text-align: center;
}

button {
  background-color: #e72751;
  padding: 10px;
  color: #FFF;
  border-radius: 10%/20%;
  cursor: pointer;
  width: 100px;
  height: 50px;
  font-weight: 700;
  border: none;
  outline: none;
}

.error {
  display: block;
  color: rgba(255, 255, 255, .9);
  font-size: 12px;
  margin-top: 20px;
  visibility: hidden;
}

.success {
  position: absolute;
  top: 40%;
  background-color: #43A047;
  width: 100%;
  left: 0;
  box-sizing: border-box;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  color: #FFF;
  display: none;
}
